<section class="bottom">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<h5>{{ options.footer_title }}</h5>
			</div>
		</div>
		<div class="footer_gallery">
			<div class="row">
				{% for item in options.footer_gallery %}
					<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
						<div class="img">
							<a href="{{ item.url }}" class="fancybox"><img src="{{ item.url }}" alt="{{ item.url }}"></a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="footer_bottom">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
					<div class="avatar">
						<img src="{{ options.footer_avatar.url }}" alt="{{ options.footer_avatar.alt }}">
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
					<div class="footer_content">
						{{ options.footer_content }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>